.HomePage {
    width: 100%;
    margin: auto;
    height: 250px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    /* background-image: url("coverfiles.alphacoders.com/836/83692.jpg"); */
}