.CreatePizzaControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    font-size: 35px;
}

.CreatePizzaControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #ac2f0f;
    cursor: pointer;
    outline: none;
}


.CreatePizzaControl button:disabled {
    background-color: #9b5341;
    border: 1px solid #773c2b;
    color: #ccc;
    cursor: default;
}

.CreatePizzaControl button:hover:disabled {
    background-color: #AC9980;
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
    font-size: 30px;
}

.CreatePizzaControl .Remove {  
    background-color: #9b5341;
    color: white;
}

.CreatePizzaControl .Add {
    background-color: #9b5341;
    color: white;
}

.CreatePizzaControl .Remove:hover, .CreatePizzaControl .Remove:active {  
    background-color: #DAA972;
    color: white;
}

.CreatePizzaControl .Add:hover,.CreatePizzaControl .Add:active {
    background-color: #99703F;
    color: white;
}